.container-fluid.text-center.edb-gradient
  .row.edb-fundo-gradient
    .col-sm-12.text-center.d-flex.align-items-center.justify-content-center
      p.edb-br &copy;2017-2019 Estúdio Digital Bocca - 
        a.edb-br(href="https://estudiodigitalbocca.com.br") https://estudiodigitalbocca.com.br 
        | - #{process.env.VER}