.container-fluid.text-center.edb-gradient
  .row.edb-fundo-gradient
    .col-sm-12.text-center.d-flex.align-items-center.justify-content-center
      p.edb-br &copy;2017 - Estúdio Digital Bocca - 
        a(href="https://estudiodigitalbocca.com.br") estudiodigitalbocca.com.br 
        | - v0.12.0