/**
 * (c)2017-2018 - Estúdio Digital Bocca
 *
 * estilo.css - Parte do Projeto digitalbocca/gte-app
 * https://github.com/digitalbocca/gte-app
 *
 * Exemplo: https://gte.wedeploy.io
 *          https://app-gte.wedeploy.io
 *          https://gte-app.ga
 *
 * Dependências:
 *
 * Paletas de Gradiente por: http://uigradients.com
 * GitHub Corners por: http://tholman.com/github-corners/
 * jQuery: http://jquery.com
 * Bootstrap: https://getbootstrap.com/
 */

.edb-fundo-grd{
  position: relative;
  min-height: 18rem;
}

.edb-fundo-gradient{
  position: relative;
  min-height: 4rem;
}

.edb-bold{
  font-weight: bold;
}

.edb-gradient{
  background-color: #FF3CAC;
  background-image: -webkit-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-image: -moz-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-image: -o-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.edb-branco{
  color: #fff;
  text-shadow: 0.08rem 0.08rem 0.08rem rgba(8, 8, 8, 0.4);
  font-size: 7rem;
}
.edb-br{
  color: #fff;
  text-shadow: 0.08rem 0.08rem 0.08rem rgba(8, 8, 8, 0.4);
}

.edb-cursor-pointer{
  cursor: pointer;
}

.edb-logo-face{
  font-family: 'Satisfy', cursive;
}

.edb-br>a:active, .edb-br>a:hover, .edb-br>a:visited{
  color: #fff !important;
}

/* Código do GitHub Corners */
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
